@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-lato: var(--font-lato);
  --font-quicksand: var(--font-quicksand);
  --font-manrope: var(--font-manrope);
  --font-montserrat: var(--font-montserrat);
}

.arial{
  font-family: Arial, Helvetica, sans-serif;
}
.segoeui{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.swiper {
  display: flex;
  justify-content: center;
}

